server {
    server_name {{ mail_server_name }};

    listen 80;
    return 301 https://$host$request_uri;
}

server {
    server_name {{ mail_server_name }};

    ssl_certificate /etc/letsencrypt/live/{{ mail_server_name }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ mail_server_name }}/privkey.pem;

    ssl_dhparam /etc/nginx/ssl/dhparams.pem;

    listen 443; # if your nginx version is >= 1.9.5 you can also add the "http2" flag here
    add_header Strict-Transport-Security "max-age=31536000; includeSubdomains";
    ssl on;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";
    ssl_prefer_server_ciphers on;
    ssl_session_cache shared:SSL:10m;

    proxy_buffering off;
    client_max_body_size 2048M;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_redirect http:// https://;
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /phpmyadmin {
        allow {{ phpmyadmin_allowed_cidr }};
        deny all;

        return 302 /phpmyadmin/;
    }

    location /phpmyadmin/ {
        allow {{ phpmyadmin_allowed_cidr }};
        deny all;

        proxy_pass http://localhost:8001/;
        proxy_set_header Host $host;
        proxy_redirect http:// https://;
        proxy_http_version 1.1;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}
